/* ---------- PRELOADER ---------- */

.js .load, .js #loader-wrapper {
    display: block;
  }
  
  #loader-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: rgba(255,255,255,0.97);
    display: none;
  }
  
  /* Design */
  /* Animation */
  /* Helpers */
  
  .wave {
    width: 117px;
    height: 13px;
    position: absolute;
    top: 50%;
    margin-top: -6.5px;
    left: 50%;
    margin-left: -58.5px;
  }
  .wave div {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 6.5px;
    background: #25c1ac;
    animation: wave 2.6s cubic-bezier(0.626, 0, 0, 1) infinite;
    margin-right: 13px;
  }
  .wave div:nth-child(1) {
    animation-delay: -0.34667s;
  }
  .wave div:nth-child(2) {
    animation-delay: -0.26s;
  }
  .wave div:nth-child(3) {
    animation-delay: -0.17333s;
  }
  .wave div:nth-child(4) {
    animation-delay: -0.08667s;
  }
  
  @keyframes wave {
    0% {
      transform: translateY(0px);
    }
    40% {
      transform: translateY(0px);
      background: #25c1ac;
    }
    60% {
      background: #21bba6;
      transform: translateY(20px);
    }
    80% {
      background: #1db6a1;
      transform: translateY(-20px);
    }
    100% {
      background: #25c1ac;
      transform: translateY(0px);
    }
  }