.animated-element {
    opacity: 0;
    transform: translateY(15px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.animated-element.show {
    opacity: 1;
    transform: translateY(0);
}
