/*  # --> id */


/*  . --> class */


/*  -----------------struktury-----------------  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(15, 27, 37);
    color: #fff;
}

/* -------------------------------------------main----------------------------------- */

.kontener {
    width: 100%;
    height: auto;
}

.menu {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: rgba(15, 27, 37);
    width: 100%;
    padding: 2%;
    z-index: 10;
    height: 70px;
}

.logo {
    margin-left: 2%;
    z-index: 4;
}

.sidemenu {
    display: flex;
    list-style: none;
    width: auto;
    position: fixed;
    top: 25.5px;
    right: 0;
    margin-right: 2%;
}

.sidemenu li {
    width: auto;
    text-align: right;
    padding: 0 20px 0 0;
}

.sidemenu li a {
    display: flex;
    text-decoration: none;
    color: rgba(106, 115, 125);
    font-size: 18px;
    width: max-content;
    transition: 0.12s;
}

.sidemenu li a:hover {
    color: white;
}

.hamburger {
    display: none;
    /* Initially hide the hamburger icon */
    cursor: pointer;
    position: fixed;
    top: 20px;
    /* Adjust the top position as needed */
    right: 20px;
    /* Adjust the right position as needed */
    margin-top: 3px;
    margin-right: 3%;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: white;
    /* Change the color to white */
    margin: 0 0 6px 0;
    transition: 0.4s;
}

/* ---------------------------------- do animacji------------------- */

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ---------------------------------------------------------------------dla małych ekranów----------------------------------------------- */

nav .fa-solid {
    display: none;
}
/* Media query for screens 830px or less */

@media (max-width: 830px) {
    .sidemenu {
        display: flex !important;
        flex-direction: column;
        text-align: right;
        background-color: rgba(15, 27, 37);
        margin: 0 auto;
        position: absolute;
        padding: 5% 2% 3% 2%;
        margin-top: -25.5px;
        display: none;
        right: -35%;
        width: 25%;
        height: 100vh;
        /* Hide the menu by default on smaller screens */
        justify-content: center;
        transition: right 0.3s ease-out;
        z-index: 20;
    }
    /* Add this CSS for the overlay */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        /* Adjust the alpha value for darkness */
        z-index: 10;
        /* Ensure it's above other content */
    }
    /* Add this CSS to show the overlay when .sidemenu.active is present */
    .sidemenu li {
        width: auto;
        padding: 5% 5%;
    }
    .sidemenu li a {
        margin: 0 auto;
        font-size: 25px;
    }
    .logo {
        margin: 0 auto;
    }
    .hamburger {
        display: block;
        z-index: 25;
        /* Display the hamburger icon on smaller screens */
    }
    /* Show the menu when the hamburger is clicked */
    .active {
        right: 0;
        opacity: 100%;
    }
}

@media only screen and (max-width: 650px) {
    .kontener {
        width: 100%;
        height: auto;
        border-radius: 0 0 0 0px;
    }
}