/*  # --> id */


/*  . --> class */


/*  -----------------struktury-----------------  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(15, 27, 37);
    color: #fff;
}

#odp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: transparent;
    pointer-events: none;
}

#odp .col-2 {
    background-color: #fff;
}


/* -------------------------------------------main----------------------------------- */

.kontener {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.menu {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: rgba(15, 27, 37);
    width: 100%;
    padding: 2%;
    z-index: 10;
    height: 70px;
}

.logo {
    margin-left: 2%;
    z-index: 4;
}

.sidemenu {
    display: flex;
    list-style: none;
    width: auto;
    position: fixed;
    top: 30px;
    right: 0;
    margin-right: 2%;
}

.sidemenu li {
    width: auto;
    text-align: right;
    padding: 0 20px 0 0;
}

.sidemenu li a {
    display: flex;
    text-decoration: none;
    color: rgba(106, 115, 125);
    font-size: 18px;
    width: max-content;
    transition: 0.12s;
}

.sidemenu li a:hover {
    color: white;
}


/* --------------------------allert--------------------------------- */


/* -----------------------------------------kolumny---------------------------------------- */

.col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-1 {
    flex-basis: 46%;
    margin-left: 8%;
    margin-top: 8%;
    height: fit-content;
}

.col-2 {
    flex-basis: 500px;
    background-color: #fffffff8;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 8%;
    margin-right: 8%;
    height: fit-content;
}

.pierwszy,
.drugi {
    position: absolute;
    margin-top: 5%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.pierwszy {
    margin-top: calc(5% - 1px);
}

.drugi {
    transform: rotate(180deg) translateY(-21%);
}

.trzeci {
    margin: -1px 0 0 0;
    transform: rotateY(180deg);
}

.pierwszy svg {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
}

.drugi svg {
    position: relative;
    display: block;
    width: 170%;
    height: 100px;
    fill: rgb(15, 27, 37);
    transform: rotateY(180deg);
}


/* -----------------------------------Autorzy----------------------------------- */

#autorzy {
    background-color: rgba(15, 27, 37);
    padding: 30px 0 100px 0;
    margin-top: 120px;
    color: white;
    border: none;
    width: 100%;
}


/* animacja tekst */

.a-left-col {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    animation: appear 0.8s ease-in-out forwards;
}

.a-right-col {
    padding-bottom: 5%;
}

.authors {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    color: #0f1b25;
}


/* animacja author */

.author {
    flex-basis: 21%;
    background-color: white;
    border-radius: 25px 25px 15px 15px;
    margin: 0 auto;
    height: auto;
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.author-text {
    padding: 0 25px 25px 25px;
}

.appear-on-scroll {
    animation: appear 0.8s ease-in-out forwards;
}

.author img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: 0 auto 5% auto;
    border-radius: 15px 15px 0 0;
}

.authorhelp {
    background-color: rgba(15, 27, 37);
    width: 100%;
    /*outline: 10px solid rgba(15, 27, 37);*/
    box-shadow: 0 -10px 0 rgba(15, 27, 37);
    box-shadow: -10px 0 0 rgba(15, 27, 37);
    box-shadow: 10px 0 0 rgba(15, 27, 37);
}

.autorzy-text {
    display: block;
    line-height: 130%;
}

.author-text .opis {
    text-align: justify;
    padding-bottom: 20%;
    font-size: 17px;
}

.socials {
    width: 100%;
    display: flex;
    padding: 0 20% 10% 20%;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
}

.socials svg {
    height: 35px;
}


/*----------------------------tekst----------------------------------------------- */

h1:not(.logo) {
    font-size: 60px;
    font-weight: bold;
}

.teks h1 {
    width: auto;
}

.tekstp {
    width: min-content;
    width: 95%;
    font-size: 25px;
    color: rgb(144, 151, 156);
    line-height: 180%;
}


/* ---------------------------------------formularz------------------------------------------- */

.form {
    padding: 5%;
}

.formularz {
    color: rgba(15, 27, 37);
    text-align: center;
    padding: 5% 0 7% 0;
}

.inputdiv {
    padding-bottom: 3%;
}

.input {
    width: 100%;
    height: auto;
    font-size: 20px;
}

.text {
    width: 100%;
    font-size: 20px;
    color: rgba(15, 27, 37);
    padding-bottom: 5%;
}

input::placeholder {
    font-size: 80%;
}

textarea {
    border: 2px solid rgb(235, 235, 238);
    border-radius: 15px;
    padding: 2%;
    resize: none;
}

input::placeholder,
textarea::placeholder {
    padding-left: 2%;
    color: rgb(144, 151, 156);
}

#omnie {
    height: auto;
}


/* ------------------------------------------------------------guzik---------------------------------------------------- */

.guzik {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 5% 0 0 0;
}

.button {
    font-size: 24px;
    background-color: rgba(15, 27, 37);
    color: rgb(235, 235, 238);
    border: 0px;
    height: 55px;
    width: 100%;
    border-radius: 15px;
    transition: 0.2s;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(15, 38, 59);
}


/* ------------------------------------------------------------preloader---------------------------------------------------- */


/* Ukryj .loading-container i .loading-circle domyślnie, ale zachowaj miejsce */

.loading-container {
    display: none;
    position: absolute;
    visibility: hidden;
}

.loading-container {
    display: flex;
    height: 100%;
}


/* Define the styles for the loading circle */

.loading-circle {
    width: 55px;
    height: 55px;
    border: 4px solid transparent;
    border-bottom: 4px solid #0f1b25;
    border-right: 4px solid #0f1b25;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    margin-top: 0;
    opacity: 0%;
    transition: margin-top 1s ease-in-out, opacity 1s ease-in-out;
    /* Add a transition for margin-top */
}


/* Define the animation for spinning */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* ------------------------------------------------------------o projekcie---------------------------------------------------- */

#oprojekcie {
    padding-top: 5%;
    color: rgb(15, 27, 37);
    border: none;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: fit-content;
}

.o-col-1 {
    flex-basis: 30%;
    max-width: 100%;
    overflow: hidden;
    margin-left: 7%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.o-col-2 {
    opacity: 0;
    transform: translateY(50px);
    flex-basis: 55%;
    margin-right: 5%;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    animation-delay: 0.5s;
}

.zdjecie {
    height: 100%;
    display: flex;
    align-items: center;
}

.zdjecie img {
    max-width: 60%;
    margin: 0 auto;
}

.zdjecie .opis {
    width: fit-content;
    margin: 0 auto 5% auto;
    color: rgb(144, 151, 156);
    font-size: auto;
}

.wramach {
    margin: 10% auto 0 auto;
    width: 50%;
    text-align: center;
}

.o-col-1,
.o-col-2 {
    padding: 80px 0;
}

.o-col-1 h1,
.o-col-2 h1 {
    text-align: center;
}

.opis {
    font-size: 18px;
    margin-bottom: 8%;
    line-height: 120%;
}

#technologie .svg {
    flex-grow: 1;
}

#technologie {
    text-align: center;
    align-items: center;
    height: 60%;
}

.tech1 {
    display: flex;
    justify-content: space-between;
}

.tech2 {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.tech1 {
    margin-top: 7%;
}

.o-col-1 .opis {
    margin-top: 7%;
    text-align: justify;
}

.sub-title {
    color: rgba(15, 27, 37);
    font-size: 50px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}


/* -----------------------------------Cele----------------------------------- */

#oprojekcie {
    background-color: #fffffff8;
    margin-top: 5%;
    color: rgb(15, 27, 37);
    border: none;
}

#cele {
    width: 100vw;
    margin: 3% auto;
    padding-top: 160px;
}

.cele {
    display: flex;
    margin: 0 7%;
}

.cel {
    display: flex;
    margin-bottom: 3%;
    align-items: center;
}

.nazwa {
    align-items: center;
    border-radius: 15px;
    background-color: white;
    padding: 1.5%;
    width: 100%;
}

.nazwa .opis {
    margin: 1% 0 0 0;
    text-align: justify;
}

.rowcele {
    flex-basis: 50%;
    width: 80%;
    font-size: 50px;
}

.list-ic li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    width: fit-content;
}

.list-ic li span {
    display: inline-block;
    font-weight: 800;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.65em;
    border-radius: 1em;
    background: #18bc9c;
    color: white;
    position: relative;
}

.list-ic li::before {
    content: '';
    position: absolute;
    background: #18bc9c;
    z-index: -1;
}

.list-ic .no::before {
    content: '';
    position: absolute;
    background: gray;
    z-index: -1;
}

.list-ic .no span {
    background: gray;
}

.list-ic.vertical {
    padding: 0;
    width: fit-content;
    margin: 0 auto;
}

.list-ic.vertical li {
    list-style-type: none;
    text-align: left;
}

.list-ic.vertical li span {
    margin: 10% 0;
}

.list-ic.vertical li::before {
    top: -100px;
    left: 33.5px;
    width: 0.2em;
    height: 4em;
}

.list-ic li:first-child::before {
    display: none;
}

.cel {
    display: inline-block;
    margin: 0 0 0 30px;
}

.cel h2 {
    font-size: 50px;
    height: 41px;
}

.cel5 {
    flex-basis: 50%;
    margin-top: 5.5%;
    margin-left: 5%;
}

.cel5 .cel {
    width: 100%;
    height: 100%;
    margin: 0;
}

.cel5 .cel h2 {
    text-align: center;
    margin-bottom: 3%;
}

.cel5 .cel .opis {
    position: relative;
    width: fit-content;
    text-align: justify;
    font-size: 18px;
}


/* -----------------------------------------------------stopka--------------------------------------------------------- */

.stopka {
    height: 70px;
    margin-top: 1%;
    background-color: #0f1b25;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/* Hamburger styles */

.hamburger {
    display: none;
    /* Initially hide the hamburger icon */
    cursor: pointer;
    position: fixed;
    top: 20px;
    /* Adjust the top position as needed */
    right: 20px;
    /* Adjust the right position as needed */
    margin-top: 3px;
    margin-right: 3%;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: white;
    /* Change the color to white */
    margin: 0 0 6px 0;
    transition: 0.4s;
}

.col-1 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    animation: appear 0.8s ease-in-out forwards;
}

.col-2 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    animation: appear 0.8s ease-in-out forwards;
    animation-delay: 0.5s;
}

.a-left-col .sub-title {
    padding-bottom: 70px;
}


/* ---------------------------------- do animacji------------------- */

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ---------------------------------------------------------------------dla małych ekranów----------------------------------------------- */

nav .fa-solid {
    display: none;
}


/* Twoje istniejące media query */

@media only screen and (max-width: 1350px) {
    .zdjecie {
        display: none;
    }
    .col-1 {
        flex-basis: 96%;
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 15%;
        width: 100%;
        height: auto;
    }
    .col-2 {
        flex-basis: 100%;
        margin: 5% auto;
        max-width: 50%;
        height: 100%;
    }
    .form {
        width: 100%;
    }
    .teks h1 {
        font-size: 60px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .tekstp {
        font-size: 25px;
        text-align: justify;
        text-align-last: center;
        margin: 0 auto;
    }
    .o-col-1,
    .o-col-2 {
        flex-basis: 90%;
        margin: 0 5%;
    }
    .o-col-1 {
        padding-bottom: 0;
    }
    .o-col-2 {
        padding-top: 0;
    }
    .author {
        flex-basis: 40%;
        margin: 5% auto 5% auto;
    }
    .socials svg {
        height: 35px;
    }
    .pierwszy svg,
    .drugi svg {
        height: 80px;
    }
    .drugi {
        transform: rotate(180deg) translateY(-52%);
    }
    .cele {
        display: block;
    }
    .cel5 {
        margin: 0 auto;
    }
    .rowcele {
        width: 50%;
        margin: 3% auto 4% auto;
    }
}


/* Media query for screens 830px or less */

@media (max-width: 830px) {
    .sidemenu {
        display: flex !important;
        flex-direction: column;
        text-align: right;
        background-color: rgba(15, 27, 37);
        margin: 0 auto;
        position: absolute;
        padding: 5% 2% 3% 2%;
        margin-top: -25.5px;
        display: none;
        right: -35%;
        width: 25%;
        height: 100vh;
        /* Hide the menu by default on smaller screens */
        justify-content: center;
        transition: right 0.3s ease-out;
        z-index: 20;
    }
    /* Add this CSS for the overlay */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        /* Adjust the alpha value for darkness */
        z-index: 10;
        /* Ensure it's above other content */
    }
    /* Add this CSS to show the overlay when .sidemenu.active is present */
    .sidemenu li {
        width: auto;
        padding: 5% 5%;
    }
    .sidemenu li a {
        margin: 0 auto;
        font-size: 25px;
    }
    .logo {
        margin: 0 auto;
    }
    .hamburger {
        display: block;
        z-index: 25;
        /* Display the hamburger icon on smaller screens */
    }
    /* Show the menu when the hamburger is clicked */
    .active {
        right: 0;
        opacity: 100%;
    }
    .sub-title {
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }
    #technologie svg {
        width: 120px;
        height: 120px;
    }
    .author-text .opis {
        font-size: 15px;
    }
    .o-col-2 {
        padding-top: 7%;
    }
    #cele {
        padding-top: 130px;
    }
    .a-left-col .sub-title {
        padding-bottom: 0;
    }
    .socials svg {
        height: 30px;
    }
    .col-2 {
        margin: 5% auto;
        max-width: 70%;
    }
    .tekstp {
        text-align: justify;
        text-align-last: center;
    }
    .pierwszy svg,
    .drugi svg {
        height: 70px;
    }
    .pierwszy svg {
        width: 140%;
    }
    .drugi svg {
        width: 180%;
    }
    #autorzy {
        padding-bottom: 100px;
    }
    .drugi {
        transform: rotate(180deg) translateY(-75%);
    }
    .rowcele {
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    .kontener {
        width: 100%;
        height: auto;
        border-radius: 0 0 0 0px;
    }
    .col-1 {
        height: auto;
    }
    .col-2 {
        flex-basis: 100%;
        /* Ustaw pełną szerokość na małych ekranach */
        margin: 5% auto;
        max-width: 80%;
        /* Zmniejsz margines górnego */
    }
    .formularz {
        font-size: 20px;
    }
    textarea::placeholder {
        font-size: 17px;
    }
    .form {
        width: 100%;
    }
    .teks h1 {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .tekstp {
        font-size: 15px;
        text-align: justify;
        text-align-last: center;
        margin: 0 auto;
    }
    .input {
        font-size: 17px;
    }
    .o-col-2 {
        flex-basis: 90%;
        margin: 0 5%;
    }
    #technologie svg {
        width: 100px;
        height: 100px;
    }
    #technologie .svg {
        font-size: 13px;
    }
    h1:not(.logo) {
        font-size: 45px;
    }
    .author {
        animation-delay: 0;
        flex-basis: 70%;
    }
    .sidemenu {
        width: 35%;
    }
    .sidemenu li a {
        font-size: 20px;
    }
    #cele {
        padding-top: 120px;
        ;
    }
    .pierwszy svg,
    .drugi svg {
        height: 60px;
    }
    .pierwszy svg {
        width: 160%;
    }
    .drugi svg {
        width: 230%;
    }
    .drugi {
        transform: rotate(180deg) translateY(-101%);
    }
    #cele ul li h2 {
        font-size: 40px;
        height: 32px;
    }
}

.list-ic li span {
    width: 1.2em;
    height: 1.2em;
    line-height: 1.42em;
    font-size: 40px;
}

.list-ic.vertical li::before {
    top: -60px;
    left: 20px;
    width: 0.15em;
    height: 2em;
}

.list-ic li {
    width: fit-content;
}

.rowcele {
    width: 100%;
    margin: 0;
}

.cel5 {
    margin-top: 20px;
}

.cel5 .cel .opis {
    font-size: 13px;
}

.cel5 .cel h2 {
    font-size: 40px;
}

@media (min-width: 2560px) {}